.letter {
    background: gainsboro;
    border-radius: 5px;
    width: 40px;
    height: 50px;
    line-height: 40px;
    margin: auto;
    text-align: center;
    font-size: 50px;
    user-select: none;
}

.letter:hover {
    cursor: pointer;
}

.lack {
    background: gray;
}

.thereIs {
    background: yellow;
}

.position {
    background: rgb(103, 161, 15);
}

#zeroth-row {
    display: flex;
    width: 440px;
    margin: auto;
    margin-top: 10px;
}

#first-row {
    display: flex;
    width: 490px;
    margin: auto;
    margin-top: 10px;
}

#second-row {
    display: flex;
    width: 440px;
    margin: auto;
    margin-top: 10px;
}

#third-row {
    display: flex;
    width: 340px;
    margin: auto;
    margin-top: 10px;
}



#words {
    border: 1px solid black;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: vertical;
    overflow: auto;
    word-wrap: break-word;
    min-height: 100px;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    width: 100px;
    height: 50px;
    margin-left: 5%;
    margin-top: 50px;


}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 10px;
    bottom: 7px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: yellow;
}

input:focus+.slider {
    box-shadow: 0 0 1px yellow;
}

input:checked+.slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#con {
    width: 40%;
    margin: auto;
    background-color: burlywood;
    display: block;
}

#inputs {

    margin-top: 100px;

    display: flex;
    width: 20%;

}

.inp {
    width: 30px;
    height: 50px;

    font-size: 40px;
    border-radius: 5px;
}

#reset {
    height: 50px;
    width: 70px;
}

#right {
    display: flexbox;
    background-color: blueviolet
}








.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}





/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.33%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

/* Style each tab content individually */
#London {
    background-color: red;
}

#Paris {
    background-color: green;
}

#Tokyo {
    background-color: blue;
}

#Oslo {
    background-color: orange;
}