:root {
    --yellow: gold;
    --green: #7fff00;
    --gray: lightslategrey;
}

body {
    background: linear-gradient(89deg, #d53369 0%, #daae51 100%);
}

.letter {
    background: cornsilk;
    border-radius: 5px;
    width: 40px;
    height: 50px;
    line-height: 40px;
    margin: auto;
    text-align: center;
    font-size: 50px;
    user-select: none;
}

.letter:hover {
    cursor: pointer;
    background-color: wheat;
}

.lack {
    background-color: var(--gray);
    animation: colorgray 1s;
    color: rgb(193, 193, 193);
}

.lack:hover {
    cursor: default;
    background-color: var(--gray);
}

@keyframes colorgray {
    from {
        background: aliceblue;
        color: white;
    }

    to {
        background: var(--gray);
        color: rgb(193, 193, 193);
    }
}

.thereIs {
    background-color: var(--yellow);
    animation: coloryellow 1s;
    color: rgb(198, 129, 1);
}

.thereIs:hover {
    cursor: default;
    background-color: var(--yellow);
}

@keyframes coloryellow {
    from {
        background: aliceblue;
        color: white;
    }

    to {
        background: var(--yellow);
        color: rgb(198, 129, 1);
    }
}

.position {
    background: var(--green);
    animation: colorgreen 1s;
    color: black
}

.position:hover {
    cursor: default;
    background: var(--green);
}

@keyframes colorgreen {
    from {
        background: aliceblue;
        color: aliceblue
    }

    to {
        background: var(--green);
        color: black
    }
}

#zeroth-row {
    display: flex;
    width: 440px;
    margin: auto;
    margin-top: 10px;
}

#first-row {
    display: flex;
    width: 490px;
    margin: auto;
    margin-top: 10px;
}

#second-row {
    display: flex;
    width: 440px;
    margin: auto;
    margin-top: 10px;
}

#third-row {
    display: flex;
    width: 340px;
    margin: auto;
    margin-top: 10px;
}



#words {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    font-family: "arial", Times, serif;
    width: 86%;
    text-align: justify;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: vertical;
    overflow: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    min-height: 100px;
}

.empty {
    color: var(--yellow);
    text-align: center;
    font-size: 30px;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    width: 100px;
    height: 50px;
    margin-left: 5%;
    margin-top: 50px;


}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 10px;
    bottom: 7px;
    background-color: cornsilk;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--yellow);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--yellow);
}

input:checked+.slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#con {
    width: 40%;
    margin: auto;
    /* background-color: burlywood; */
    display: block;
}

#inputs {

    margin-top: 100px;
    justify-content: center;
    display: flex;
    width: 20%;

}

.inp {
    width: 32px;
    height: 45px;
    margin-right: 5px;
    background-color: transparent;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    justify-content: space-between;
    font-size: 40px;
    /* border-radius: 5px; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    border-radius: 5px 5px 0 0;

    vertical-align: sub;
    line-height: 50px;
    /* transition: background .5s; */
}


.inp:hover {
    background: linear-gradient(180deg, transparent 23%, lightgray 100%);
}



.inp:focus {
    outline: none;
    background: linear-gradient(180deg, transparent 23%, lightgray 100%);
}

.full {

    background: linear-gradient(180deg, transparent 23%, var(--green) 100%);
}

.full:hover {
    background: linear-gradient(180deg, transparent 23%, var(--green) 100%);
    cursor: default;
}

.full:focus {
    background: linear-gradient(180deg, transparent 23%, var(--green) 100%);
    cursor: default;
}

#reset {
    height: 50px;
    width: 70px;
    border-color: #f44336;
    color: maroon;
    font-size: 20px;
    border-radius: 10%;
    background-color: transparent;
    /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
}

#reset:hover {
    cursor: pointer;
    background: #f44336;
    color: white;
}

#right {
    display: flexbox;
    /* background-color: blueviolet */
}

#qm {
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: var(--yellow);
}






.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: transparent;
    margin: 5px auto;
    /* 15% from the top and centered */

    border-radius: 7px;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.tabcontent {
    border-radius: 7px;
}

.tablink {
    height: 50px;

    line-height: 15px;
}

.tablink:nth-child(1) {
    border-radius: 7px 0 0 0;
}

.tablink:nth-child(3) {
    border-radius: 0 7px 0 0;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}





/* Style the tab buttons */
.tablink {
    background-color: antiquewhite;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.33%;
}

.tablink:hover {
    background-color: ivory;
}


/* Set default styles for tab content */
.tabcontent {
    background-color: wheat;
    display: none;
    padding: 50px;
    text-align: center;
}

/* Style each tab content individually */


.show {
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s;
}

/* Add animation (fade in the popup) */
/* @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    10% {opacity:1 ;}
    90% {opacity:1 ;}
    100% {opacity:0 ;}
  } */


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    10% {
        opacity: .9;
    }

    90% {
        opacity: .9;
    }

    100% {
        opacity: 0;
    }
}