.modal-dialog {
    margin-top: 5vh;
}

.modal-content {
    height: 90vh;
    background: ivory
}

#closebtn {
    height: 3vh;
    margin-left: 90%
}

#div {
    height: 100%;
    width: 95%;
    margin-left: auto;
    margin-bottom: 2.5%;
    overflow: auto;
}

#shortcuts{
    display: grid; grid-template-columns: 50% 50%; justify-content: center;
    align-items: center;
}

#literalnie > h1, #solver > h1{
    display: block;
    width: fit-content;
    font-size: 1.5rem !important
}

#shortcuts  h1{
    grid-column-start: 1; grid-column-end: 3;
    font-size: 1.5rem !important;
    width: 100%
}

kbd {
    background-color: black;
    border-radius: 0.25rem;
    border: 1px solid grey;
    box-shadow: 0 2px 0 1px grey;
    display: inline-block;
    text-align: center;
    padding: 2px 5px;
    position: relative;
    top: -1px;
}

kbd:hover {
    box-shadow: 0 1px 0 0.5px grey;
    top: 1px;
}