* {
    box-sizing: border-box;
}

body {
    background-color: #fffff0 !important;
    margin: 0;
    user-select: none;
    caret-color: dimgrey;
}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 10%;
    z-index: 99;
    border: none;
    outline: none;
    color: maroon;
    cursor: pointer;
    border-radius: 7px;
    font-size: 5vw;
    opacity: 0;
    width: 5vw;
    text-align: center;
    transition: transform .3s;
    transition: opacity 1s;
    background: linear-gradient(145deg, #e6e6d8, #ffffff);
    box-shadow: 5px 5px 10px #d9d9cc;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: dimgray;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: dimgray;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: dimgray;
}

#myBtn:hover {
    transform: scale(1.2);
}

#header {
    position: relative;
    height: 25px;
}

#napis {
    z-index: 2;
    position: relative;
    margin: auto;
    margin-bottom: 2px;
    font-size: 100%;
    text-align: justify;
    width: fit-content;
    overflow: visible;
    white-space: nowrap;
    transition: transform .2s
}

.change {
    transform: scaleY(0)
}

.change2 {
    transform: scaleY(1)
}

.if {
    background-color: ivory !important;
}

#words {
    box-sizing: border-box;
    user-select: none;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    font-family: "arial", Times, serif;
    width: 86vw;
    text-align: justify;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: vertical;
    overflow: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    min-height: 100px;
}

#content {
    display: flex;
}

#con {
    position: relative;
    width: calc(40% + 70px);
    height: 275px;
    margin: auto;
    display: block;
    z-index: 0;
}

#right {
    display: flex;
    width: 22%;
    margin-right: calc(5% - 30px);
    position: relative;
}

#left {
    display: flex !important;
    position: relative;
    width: 22%;
    margin-left: calc(8% - 30px);
    display: block;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: center !important;
}

#reset {
    height: 50px;
    width: 100px;
    border: none;
    color: maroon;
    font-size: 20px;
    border-radius: 25px;
    border-radius: 50px;
    border-radius: 50px;
    background: linear-gradient(145deg, #ffffff, #e6e6d8);
    box-shadow: 5px 5px 10px #d9d9cc,
        -5px -5px 10px #ffffff;
    box-shadow: 4px 4px 10px 0px rgb(235, 221, 230), -4px -4px 10px 0px rgb(239, 235, 220);
}

#reset:hover {
    cursor: pointer;
    color: red;
    box-shadow: inset 4px 4px 10px 0px rgb(235, 221, 230), inset -4px -4px 10px 0px rgb(239, 235, 220);
}

.font {
    font-size: 28px !important
}

@media only screen and (max-width: 620px) {
    .font {
        font-size: 4.5vw !important
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    10% {
        opacity: .9;
    }

    90% {
        opacity: .9;
    }

    100% {
        opacity: 0;
    }
}

.showLack {
    -webkit-animation: fadeInLack 1.5s;
    animation: fadeInLack 1.5s;
}

@keyframes fadeInLack {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media screen and (max-width: 620px) {

    #content {
        flex-direction: column;
    }

    #qm,
    #A,
    #theme {
        margin-top: 7px !important;
        width: 7vw !important;
        min-width: 30px;
        height: 7vw !important;
        min-height: 30px !important;
    }

    #left {
        margin-left: 0;
        width: 100%;
        height: fit-content !important;
        flex-direction: row !important;
    }

    #topBar {
        display: none !important
    }

    #size {
        left: 30%;
        top: 10px
    }

    #reset {
        /* left: 80%;
        top: 15px; */
        font-size: 100%;
        margin-top: 10px;
        width: 15vw !important;
        min-width: 50px !important;
        height: 7vw !important;
        min-height: 30px !important
    }

    #check {
        margin-top: 10px;
        width: 15vw !important;
        min-width: 50px !important;
        height: 7vw !important;
        min-height: 30px !important
    }

    #con {
        width: 90%;
        /* background-color: #f44336; */
        margin-top: 0px;
        height: fit-content
    }

    #napis {
        font-size: 3.5vw;
        margin-top: 10px;
    }

    #right {
        align-items: center;
        margin: auto;
        width: 90%;
        margin-top: 10px;
        height: 80px
    }

    #words {
        width: 90%;
        margin: auto;
        padding-top: 0;
        font-size: 12px
    }

    #myBtn {
        width: 10vw;
        font-size: 10vw;
    }
}

@media only screen and (max-width: 417px) {
    #popupLack {
        line-height: 12vw !important;
        font-size: 80% !important
    }

    #popup {
        line-height: 12vw !important;
        font-size: 90% !important
    }
}

#popupLack {
    opacity: 0;
    border-radius: 20px;
    width: 70vw;
    height: 12vw;
    max-width: 300px;
    max-height: 50px;
    text-align: center;
    font-size: 90%;
    line-height: 50px;
    color: maroon;
    background: ivory;
    background: linear-gradient(330deg, ivory 0%, rgb(235, 221, 230) 100%);
    box-shadow: 4px 4px 10px 0px rgb(235, 221, 230), -4px -4px 10px 0px rgb(239, 235, 220);
    position: fixed;
    bottom: 200px;
    left: 50vw;
    transform: translate(-50%, 0)
}

#popup {
    position: fixed;
    background: ivory;
    background: linear-gradient(330deg, ivory 0%, rgb(235, 221, 230) 100%);
    box-shadow: 4px 4px 10px 0px rgb(235, 221, 230), -4px -4px 10px 0px rgb(239, 235, 220);
    width: 70vw;
    height: 12vw;
    max-width: 300px;
    max-height: 50px;
    line-height: 50px;
    color: maroon;
    border: none;
    text-align: center;
    font-size: 100%;
    border-radius: 20px;
    font-weight: bolder;
    bottom: 100px;
    left: 50vw;
    transform: translate(-50%, 0)
}

#check {
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: 1px solid grey;
    box-shadow: 4px 4px 10px 0px rgb(235, 221, 230), -4px -4px 10px 0px rgb(239, 235, 220);
}

#check:hover {
    box-shadow: inset 2px 2px 10px 0px rgb(67, 45, 45, .5)
}

#qm,
#A,
#theme {
    border-radius: 50vw !important;
    cursor: pointer;
    border: none;
    margin-top: 12px;
    outline: none;
    overflow: hidden;
    width: 5vw;
    height: 5vw;
    background: linear-gradient(145deg, #e6e6d8, #ffffff);
    box-shadow: 5px 5px 10px #d9d9cc,
        -5px -5px 10px #ffffff;
    transition: width .25s, transform .25s;
    color: maroon
}

@media screen and (min-width: 620px) {
    #topBar {
        position: fixed;
        flex-direction: column;
        bottom: 40vh;
        width: 5vw
    }

    #topBar>button:hover {
        position: relative;
        transform: translate(2.5vw);
        width: 10vw;
        font-size: 1em;
        color: black
    }

    #topBar>#A:hover {
        width: 16vw !important;
        transform: translate(5.5vw);
        font-size: 100%;
        background: linear-gradient(231deg, rgb(214, 255, 6) 0%, rgb(0, 244, 191) 100%);
        box-shadow: none;
    }
}

#qm:hover {
    background: linear-gradient(330deg, rgb(143, 6, 255) 0%, rgb(244, 0, 159) 100%);
    box-shadow: none;
}

#A:hover {
    background: linear-gradient(231deg, rgb(214, 255, 6) 0%, rgb(0, 244, 191) 100%);
    font-size: 100%;
}

@media screen and (max-width: 720px) and (min-width: 620px) {
    #A:hover {
        font-size: 80% !important;
    }
}

#topBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3.5vw;
    transform: translate(-50%, 0);
    margin-bottom: -100px !important;
    font-size: 1rem !important;
}

#inject {
    display: none;
    width: 50%;
    margin-top: 0;
    justify-content: space-around;
}

#check {
    background-color: grey;
    outline: none
}

#popupLack {
    display: none
}

#toast {
    position: fixed;
    bottom: 30px;
    right: 10px
}

kbd {
    border-radius: 0.25rem;
    border: 1px solid grey;
    box-shadow: 0 2px 0 1px grey;
    display: inline-block;
    text-align: center;
    padding: 2px 5px;
    position: relative;
    top: -1px;
}

kbd:hover {
    box-shadow: 0 1px 0 0.5px grey;
    top: 1px;
}